/* completo:

body{
  background-color: rgba(139, 196, 198, 0.368);
  background-image: url(./assets/assets/imgonline-com-ua-resize-LS7XutiVUwDe0.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
resumido: */

/* Set the background of the body to an image */
body {
  background: var(--bg-url);
}

:root {
  --text-color: white;
  --bg-url: url(./assets/assets/MOBILE\ DARK.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --switch-url: url(./assets/assets/moon-stars.svg);
}

.light {
  --text-color: rgb(34, 33, 33);
  --bg-url: url(./assets/assets/MOBILE\ LIGHT.jpg);
  --stroke-color: rgba(255, 255, 255, 0.715);
  --switch-url: url(./assets/assets/sun.svg);
}

/* Apply box-sizing: border-box; to all elements, including padding and border in the total width and height */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font family to "Poppins" and text color to mintcream for all elements inside the body */
body * {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

/* Style the container element */
#container {
  width: 360px; /* Set width to 360 pixels */
  margin: 56px auto 32px auto; /* Set margin: top 56px, right/left auto (center horizontally), bottom 0px */
  padding: 0 24px 0 24px;
}

/* Center align text inside the profile element */
#profile {
  text-align: center;
}

/* Set the width of images inside the profile element to 112 pixels */
#profile img {
  border-radius: 50%;
  width: 112px;
}

#profile p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  display: flex;
  gap: 8px;
  flex-direction: column;

  padding: 24px 0 24px 0;
}

ul li {
  display: block;
  margin-bottom: 24px;
}

ul li a {
  text-decoration: none;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--stroke-color);
  background: rgba(
    255,
    255,
    255,
    0.1
  ); /* Set background with CSS variable fallback */
  backdrop-filter: blur(4px); /* Apply backdrop filter with blur effect */
  display: block; /* Display links as blocks */
  text-align: center;
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background: rgba(255, 255, 255, 0.455);
}

/* social links */
#social {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 0 0 24px 0;
  font-size: 24px;
}

#social a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

footer {
  padding: 24px;
  text-align: center;

  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

footer a {
  text-decoration: none;
}

#switcher {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switcher button {
  width: 32px;
  height: 32px;
  background: mintcream var(--switch-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switcher button {
  right: 0;
  left: initial;
}

#switcher span {
  width: 64px;
  height: 24px;

  background: rgba(255, 255, 255, 0.455);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;

  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  display: block;
}
